*.exe
mugen-1.1b1/
./mugen-1.1b1/

*.ipch
*.pdb
*.fbx
*.obj
*.gltf
*.vsidx
*.hdr
*.png
*.jpg
*.jpeg
/.vs/
/.vs
.vs/
*.db
*.VC.db
# Ignore build outputs and packaged artifacts
Mugen-Bets/x64/
build_artifact/
*.zip